body {

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.borderIt {
    border : solid black 1px;
}

/* Global CSS */
.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexWrap {
    display: flex;
    flex-wrap: wrap;
}

.flexJustifyContentCenter {
    display: flex;
    justify-content: center;
}

.flexAlignItemsCenter {
    display: flex;
    align-items: center;
}

.width30Percent {
    width: 30%;
}

.width50Percent {
    width: 50%;
}

.width70Percent {
    width: 70%;
}

.width100Percent {
    width: 100%;
}